* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html,
body{
  background-color: #1b1b32;
  color: white;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}
.App-TaskList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  color: 1b1b32;
  font-size: 25px;
  margin: 20px 0;
  font-family: Roboto, sans-serif;
  text-align: center;
}


/* Logo de freeCodeCamp*/
.freecodecamp-logo-contenedor {
  align-items: center;
  display: flex;
  margin: 20px;
  justify-content: center;
  width: 100%;
}

.freecodecamp-logo {
  height: 50px;
  width: 400px;
}
/* Lista de tareas*/
.task-list-main {
  background-color: #d0d0d5;
  border-radius: 26px;
  justify-content: center;
  margin: 10px;
  min-height: 500px;
  padding: 25px;
  width: 600px;
}
.align-center-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
